* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: rgb(128, 186, 185);
}
h1 {
  font-size: 3em;
}

/* Navigation */
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: 1s ease;
}

#nav-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav-list-item {
  list-style-type: none;
  margin: 1rem;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-link:hover {
  color: #0a6cff;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #0a6cff;
  transition: 0.4s ease;
}
/* General section styles */
.section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.section-title {
  padding: 2em 0;
  font-size: 2em;
}

/* Hero section */

/* About section */

#about-section > p {
  line-height: 2;
  font-size: 1.1em;
  padding: 1em 5em;
}
/* Project gallery section */

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
a:visited {
  color: inherit;
}
.flex-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  width: 20em;
  padding: 15px;
  margin: 10px;
  background-color: whitesmoke;
  min-height: 500px;
}
.flex-item:hover {
  color: rgb(37, 79, 171);
  box-shadow: rgba(15, 70, 189, 0.19) 0px 10px 20px,
    rgba(15, 70, 189, 0.23) 0px 6px 6px;
  transition: 0.5s ease;
}

.project-title,
.project-description,
.image {
  margin: 5px;
}

/* Feature section */

#feature-section > p {
  line-height: 2;
  font-size: 1.1em;
  padding: 2em 5em;
}

#color-picker {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 2em;
  margin: 2em;
  border-radius: 5px;
  background-color: whitesmoke;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
}

#btn {
  padding: 1em;
  background: transparent;
  border: 2px solid black;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

#btn:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Footer */

#footer {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #545f66;
  height: 20vh;
}
